apps/WNPV/boot.dol
apps/WNCV/meta.xml
Wii-Network-Config-Viewer.dol
WNPV.zip
Wii-Network-Config-Viewer.dol
Wii-Network-Config-Viewer.dol
/build
Wii-Network-Config-Viewer.elf
Wii-Network-Config-Viewer.dol.bak
.vscode/settings.json
Wii-Network-Profiles-Viewer.dol
Wii-Network-Profiles-Viewer.elf
